<nav class="navbar navbar-expand-sm navbar-dark fixed-top" >
  <a class="navbar-brand" href="#">Frontiir</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto my-2">
      <li class="nav-item active">
        <a class="nav-link" routerLink="overview">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="list">List</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Create
        </a>
        <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/yangon']" routerLinkActive="router-link-active">Yangon</a>
          <a class="dropdown-item" [routerLink]="['/mandalay']" routerLinkActive="router-link-active">Mandalay</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/bi']" routerLinkActive="router-link-active">BI</a>
          <a class="dropdown-item" [routerLink]="['/opi']" routerLinkActive="router-link-active">OPI</a>
        </div>
      </li>
    </ul>


    <button class="btn btn-outline-info" type="submit">Log out</button>

  </div>
</nav>


