<div>
    <select>
      <option>Here is the unstyled select box</option>
      <option>The second option</option>
      <option>The third option</option>
    </select>
  </div>
  
  <hr>
  
  <div class="styled-select slate">
    <select>
      <option>Here is the first option</option>
      <option>The second option</option>
      <option>The third option</option>
    </select>
  </div>
  
  <hr>
  
  <div class="styled-select black rounded">
    <select>
      <option>Here is the first option</option>
      <option>The second option</option>
      <option>The third option</option>
    </select>
  </div>
  
  <div class="styled-select green rounded">
    <select>
      <option>Here is the first option</option>
      <option>The second option</option>
      <option>The third option</option>
    </select>
  </div>
  
  <div class="styled-select blue semi-square">
    <select>
      <option>Here is the first option</option>
      <option>The second option</option>
      <option>The third option</option>
    </select>
  </div>
  
  <div class="styled-select yellow rounded">
    <select>
      <option>Here is the first option</option>
      <option>The second option</option>
      <option>The third option</option>
    </select>
  </div>
  
  <hr>
  
  <div id="mainselection">
    <select>
      <option>Select an Option</option>
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
  </div>
  
  <hr>
  
  <select id="soflow">
    <!-- This method is nice because it doesn't require extra div tags, but it also doesn't retain the style across all browsers. -->
    <option>Select an Option</option>
    <option>Option 1</option>
    <option>Option 2</option>
  </select>
  
  <select id="soflow-color">
    <!-- This method is nice because it doesn't require extra div tags, but it also doesn't retain the style across all browsers. -->
    <option>Select an Option</option>
    <option>Option 1</option>
    <option>Option 2</option>
  </select>