<div class="container">
  <div class="row text-center info">

    <div class="col-sm">
      <h3> Monthly</h3>
      <ul>
        <li><span>Cancel:</span> {{cancelCountMonthly}} </li>
        <li><span>Received:</span> {{receivedCountMonthly}}</li>
        <li><span>Ready:</span> {{readyCountMonthly}}</li>
        <li><span>Dispatched:</span> {{dispatchedCountMonthly}}</li>
        <li><span>Complete:</span> {{completedCountMonthly}}</li>
      </ul>
    </div>

    <div class="col-sm">
      <h3> Weekly</h3>
      <ul>
        <li><span>Cancel:</span> {{cancelCountWeekly}}</li>
        <li><span>Received:</span> {{receivedCountWeekly}}</li>
        <li><span>Ready:</span> {{readyCountWeekly}}</li>
        <li><span>Dispatched:</span> {{dispatchedCountWeekly}}</li>
        <li><span>Complete:</span> {{completedCountWeekly}}</li>
      </ul>
    </div>

    <div class="col-sm">
      <h3> Daily</h3>
      <ul>
        <li><span>Cancel:</span> {{cancelCountDaily}}</li>
        <li><span>Received:</span> {{receivedCountDaily}}</li>
        <li><span>Ready:</span> {{readyCountDaily}}</li>
        <li><span>Dispatched:</span> {{dispatchedCountDaily}}</li>
        <li><span>Complete:</span> {{completedCountDaily}}</li>
      </ul>
    </div>

  </div>
</div>
