<mat-toolbar>
  <span>{{tempAddressServ.form.controls['add_id'].value?"Addresses to Verify":"New Address"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="tempAddressServ.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="150px">

    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="zone" matInput placeholder="Zone">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="township" matInput placeholder="Townshhip">
          <mat-error>Invalid Townshhip address.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="ward" matInput placeholder="Ward*">
          <mat-error *ngIf="tempAddressServ.form.get('ward').errors?.required">This field is mandatory.</mat-error>
          <mat-error *ngIf="tempAddressServ.form.controls['ward'].errors?.minlength">Minimum 3 charactors needed.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="street" matInput placeholder="Street">
          <mat-error>Invalid Street address.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
  <div class="button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="tempAddressServ.form.invalid">Verify</button>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
  </div>
</form>





<!-- <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="gender">1234
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
            <mat-radio-button value="3">Other</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field>
          <mat-select formControlName="department" placeholder="Department">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let department of departmentService.array">
              <mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="add-bottom-padding">
          <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile> -->
